-
  dataArticle = {
    articleItem: [
      {
        articleImg: 'assets/img/dummy/article/article-1.jpeg',
        alt: 'article-disease',
        title: 'Disease detection, check up in the laboratory',
        desc: 'In this case, the role of the health laboratory is very important to do a disease detection...',
        txtLink: 'Read more',
        link: '#home'
      },
      {
        articleImg: 'assets/img/dummy/article/article-2.jpg',
        alt: 'article-herbal',
        title: 'Herbal medicines that are safe for consumption',
        desc: 'Herbal medicine is very widely used at this time because of its very good for your health...',
        txtLink: 'Read more',
        link: '#home'
      },
      {
        articleImg: 'assets/img/dummy/article/article-3.jpg',
        alt: 'article-natural',
        title: 'Natural care for healthy facial skin',
        desc: 'A healthy lifestyle should start from now and also for your skin health.There are some...',
        txtLink: 'Read more',
        link: '#home'
      }
    ]
  }

include ../../layouts/article.pug
