//-------------------------------------------------------------------------------
  @name: Pages-Customer
  -------------------------------------------------------------------------------//

-
  customerList = {
    id: 'testimonials',
    title: 'What our customer are saying',
    list: [
      {
        desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
        img: 'profile.jpg',
        name: 'Edward Newgate',
        position: 'Founder Circle'
      },
      {
        desc: 'You might fail a few times, but that’s Ok. you end up doing something worthwhile which you learn a great deal from.',
        img: 'sundar-pichai.jpg',
        name: 'Sundar Pichai',
        position: 'CEO Google'
      },
      {
        desc: 'We always overestimate the change that will occur in the next two years and underestimate the change that will occur in the next ten. Don’t let yourself be lulled into inaction.',
        img: 'billgates.jpeg',
        name: 'Bill Gates',
        position: 'Co-Founder Microsoft'
      }
    ]
  }

include ../../layouts/customer.pug
