//-------------------------------------------------------------------------------
  @name: Pages-Download
  -------------------------------------------------------------------------------//

-
  leadingData = {
    title: 'Download our mobile apps',
    reverse: true,
    desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
    leadingImg: 'assets/img/dummy/leading/leading-ilustration-1.png',
    alt: 'Download',
    btn: {
      txt: 'Download',
      link: '#',
      class: 'btn--secondary--arrow'
    }
  }

include ../../components/leading.pug
