-
  dataBanner = {
    bannerItem: [
      {
        title: 'Virtual healthcare for you',
        desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone',
        bannerImg: 'assets/img/banner/banner.png',
        txtBtn: 'Consult today'
      },
      {
        title: 'Leading healthcare providers',
        desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver',
        bannerImg: 'assets/img/banner/banner.png',
        txtBtn: 'Lear more'
      },
      {
        title: 'Download our mobile apps',
        desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
        bannerImg: 'assets/img/banner/banner.png',
        txtBtn: 'Download'
      }
    ]
  }

include ../../layouts/hero-banner.pug
