//-------------------------------------------------------------------------------
  @name: Pages-leading
  -------------------------------------------------------------------------------//

-
  leadingData = {
    title: 'Leading healthcare providers',
    desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver',
    leadingImg: 'assets/img/dummy/leading/leading-ilustration.png',
    alt: 'leading',
    btn: {
      txt: 'Learn more',
      link: '#',
      class: 'btn--secondary'
    }
  }

include ../../components/leading.pug
